html, body {
    font-family:"futura-pt";
    margin: 0;
    background-color:white
}

.box {
    max-width: 600px;
    margin: 0px auto;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.header {
    background-color:#8eba3e;
    height: 250px;
    text-align: center;
    line-height: 250px;
    font-family: "futura-pt";
}

.header h1 {
    margin: 0;
    color: white;
    font-size: 40px;
    font-weight: 400;
}

.body {
    padding: 20px 40px 20px 40px;
    background-color: white;
}

.body h1 {
    font-weight: 600;
}

.body .signature {
    font-style: italic;
}

.body .empty-space {
    padding: 15px 0px;
    text-align: center;
}

.button {
    border-radius: 5px;
    background-color: #8eba3e;
    display: inline-block;
    padding: 15px 25px;
    text-decoration: none;
    color: white;
}

.footer {
    background-color: #efefef;
    padding: 20px 0px;
    text-align: center;
    color: #adadae;
}